.footer-page {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}

.border-none {
  border: none;
}

.border-none:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}

.background-dark {
  background: #022534;
}

.title {
  font-size: 5rem;
  color: #ffffff;
}
